body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}
#main h1{
    color: steelblue;
    text-align: center;
    padding-top: 40px;
}    
#main h2{
    text-align: center;
    padding-top: 10px;
    font-weight: 200;
    font-size: 2em;
}
#main h3{
    text-align: center;
    padding-top: 10px;
    color: grey;
}
#main h4{
    text-align: center;
    color: black;
    font-weight: lighter;
    text-decoration: none;
}
#em {
    text-align: center;
    margin: 15px 14px;
}
#pc {
    text-align: center;
    margin: 15px 14px;
}
#sign {
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin: 15px 14px;
    
}
input, textarea{
    width:10%;
    padding: 7px 7px;
    align-self: start;
    border: 2px solid steelblue;
}
nav{
    background-color: white;
    padding-bottom: 1px;
    overflow:hidden;
    position:fixed;
    bottom: 2px;
    width: 100%;
    color: grey;
    float: left;
    text-align: center;
}


